# ==================================================
# ACTIVE LLM PROVIDER
# ==================================================
LLM_PROVIDER=gemini

# ==================================================
# GEMINI CONFIG
# ==================================================
GEMINI_API_KEY=your_key_here
GEMINI_MODEL=gemini-2.5-flash

# ==================================================
# OLLAMA CONFIG
# ==================================================
OLLAMA_MODEL=llama3
OLLAMA_BASE_URL=http://localhost:11434

